<script id="header-page" type="text/html">
<div class="d-flex raleway justify-content-lg-center">
  <h1><strong style="color:blue;">{{name}}</strong>, 1st. Birthday and Christening!</h1>
</div>
<div class="d-flex mori justify-content-lg-center">
  <h2>Let's us celebrate this special occasion.</h2>
</div>
</script>

<script id="main-page" type="text/html">
<div class="box col-md">
  <div class="d-flex justify-content-center embed-responsive embed-responsive-1by1">
      <img class="h-100 d-inline-block w-75 p-3" style="width: 120px;" src="../img/Franco_1st_Bday_v3.png" alt="">
  </div>        
</div>
<hr>
</script>

<script id="church-map" type="text/html">
    <!-- Christening venue -->
    <div class="d-flex justify-content-lg-center mori">
      <h2>Holy Family Parish - 3 Santa Cecilia St, Pasig, Metro Manila</h2>
    </div>
    <div class="d-flex justify-content-center embed-responsive embed-responsive-1by1">
        <img class="h-100 d-inline-block w-75 p-3" style="width: 120px;" src="../img/churches_1512101852_9672_4939.jpg" alt="">
    </div>
    <div class="d-flex justify-content-center embed-responsive embed-responsive-1by1">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3861.548297876119!2d121.05498887510558!3d14.567804285914685!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3397c867e67c58b1%3A0xf84540322d6ebe7d!2sHoly%20Family%20Parish!5e0!3m2!1sen!2sph!4v1740049188688!5m2!1sen!2sph" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <hr>
    <!-- Birthday party venue -->
    <div class="d-flex justify-content-lg-center mori">
      <h2>Kenny Rogers Roasters - 177 Shaw Blvd, Pasig City</h2>
    </div>
    <div class="d-flex justify-content-center embed-responsive embed-responsive-1by1">
        <img class="h-100 d-inline-block w-75 p-3" style="width: 120px;" src="../img/kenny-rogers-pasig-blvd.png" alt="Kenny Roger's Roaster Pasig Boulevard">
    </div>
    <div class="d-flex justify-content-center embed-responsive embed-responsive-1by1">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3861.507670532959!2d121.06633964278076!3d14.57012366650196!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3397c974fa5711f5%3A0x311989d93bbc56c9!2sKenny%20Rogers%20Roasters!5e0!3m2!1sen!2sph!4v1740653440537!5m2!1sen!2sph" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <hr>
    <div class="row text-center d-grid gap-3">
        <div class="row">
          <div class="col">
            <img src="../img/PPsY.gif" alt="">
          </div>
          <div class="col">
            <img src="../img/VVfK.gif" alt="">
          </div>
          <div class="col">
            <img src="../img/72oD.gif" alt="">
          </div>
          <div class="col">
            <img src="../img/HZYI.gif" alt="">
          </div>
        </div>
      </div>
</script>

<script id="footer-page" type="text/html">
<div class="row">
    <img src="../img/mavs_highest_paid.png" alt="">
</div>
</script>